name: Build XCFramework

on:
  pull_request:
    branches:
    - main

jobs:
  build:
    runs-on: macos-26
    if: startsWith(github.head_ref, 'renovate/apple-swift-http-structured-headers-')

    env:
      DEVELOPER_DIR: /Applications/Xcode_16.4.app/Contents/Developer

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0

    - name: Install nest
      run: |
        curl -s https://raw.githubusercontent.com/mtj0928/nest/main/Scripts/install.sh | bash
        echo "${HOME}/.nest/bin" >> "${GITHUB_PATH}"

    - name: Install giginet/Scipio
      run: nest install giginet/Scipio 0.31.0

    - name: Build XCFramework
      run: |
        scipio prepare \
          --cache-policy project \
          --support-simulators \
          --enable-library-evolution \
          --embed-debug-symbols \
          --output Frameworks

    - name: Upload distribution
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: xcframework
        path: Frameworks
