name: Lint

on:
  pull_request:
    paths-ignore:
    - "LICENSE"
    - "README.md"
  push:
    paths-ignore:
    - "LICENSE"
    - "README.md"

jobs:
  pod_lint:
    runs-on: macos-15
    timeout-minutes: 10

    env:
      DEVELOPER_DIR: /Applications/Xcode_16.3.app/Contents/Developer

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        submodules: true

    - name: Setup ruby
      uses: ruby/setup-ruby@ae195bbe749a7cef685ac729197124a48305c1cb # v1.276.0
      with:
        ruby-version: '3.4.7'
        bundler-cache: true

    - name: Lint swift-http-structured-headers.podspec
      run: make pod_lint

  actionlint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - uses: reviewdog/action-actionlint@83e4ed25b168066ad8f62f5afbb29ebd8641d982 # v1.69.1
      with:
        reporter: github-pr-review
        level: warning
