name: Lint

on:
  pull_request:
    paths-ignore:
    - "LICENSE"
    - "README.md"
  push:
    paths-ignore:
    - "LICENSE"
    - "README.md"

jobs:
  pod_lint:
    runs-on: macos-15
    timeout-minutes: 10

    env:
      DEVELOPER_DIR: /Applications/Xcode_16.3.app/Contents/Developer

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        submodules: true

    - name: Setup ruby
      uses: ruby/setup-ruby@4c24fa5ec04b2e79eb40571b1cee2a0d2b705771 # v1.278.0
      with:
        ruby-version: '3.4.7'
        bundler-cache: true

    - name: Lint swift-http-structured-headers.podspec
      run: make pod_lint

  actionlint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - uses: reviewdog/action-actionlint@f00ad0691526c10be4021a91b2510f0a769b14d0 # v1.68.0
      with:
        reporter: github-pr-review
        level: warning
